*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.card{
    /* border: 1px solid ; */
    padding: 10px;
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card img{
    width: 300px;
    height: 300px;
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    margin-left:120px;
    gap: 10px;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin-bottom: 5px;
}
.loader{
    margin: 0 auto;
    margin-top: 250px;
    margin-left:750px;
}